body { 
    font-family: 'Arial', sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background: #121212; 
    margin: 0; 
} 

.container { 
    background-color: #1E1E1E; 
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    text-align: center; 
    width: 300px; 
    animation: fadeIn 1s ease-in-out; 
} 

h1 { 
    margin-bottom: 10px; 
    font-size: 24px; color: #BB86FC; 
    animation: dropIn 1s ease-in-out; 
} 

p { 
    margin-bottom: 20px; 
    color: #E1E1E1; 
} 

.converter { 
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
} 

input, select, button { 
    padding: 10px; 
    font-size: 16px; 
    border-radius: 5px; 
    border: 1px solid #333; 
    outline: none; 
    transition: border-color 0.3s, 
    transform 0.3s; 
    background-color: #2E2E2E; 
    color: #E1E1E1; 
} 

input:focus, select:focus { 
    border-color: #BB86FC; 
    transform: scale(1.05); 
} 

button { 
    background-color: #BB86FC; 
    color: #FFF; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s, 
    transform 0.3s; 
} 

button:hover { 
    background-color: #9A65E6; 
    transform: scale(1.05); 
} 

button:disabled { 
    background-color: #555; 
    cursor: not-allowed; 
} 

.result-box { 
    margin-top: 20px; 
    padding: 15px; 
    background-color: #2E2E2E; 
    border: 1px solid #BB86FC; 
    border-radius: 10px; 
    color: #E1E1E1; 
    font-weight: bold; 
    font-size: 18px; 
    display: none; 
} 

@keyframes fadeIn { 
    from { opacity: 0; } 
    to { opacity: 1; } 
} 

@keyframes dropIn { 
    from { transform: translateY(-50px); opacity: 0; } 
    to { transform: translateY(0); opacity: 1; } 
}